[submodule "dex_builder"]
	path = lsplant/src/main/jni/external/dex_builder
	url = ../DexBuilder.git
	branch = master
[submodule "docs/doxygen-awesome-css"]
	path = docs/doxygen-awesome-css
	url = ../doxygen-awesome-css.git
